/*==============================Imported Fonts==========================================
=======================================================================================*/
@font-face {
  font-family: Ubuntu-Regular;
  src: url('../fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url('../fonts/ubuntu/Ubuntu-Bold.ttf');
}


/*==============================General Styling==========================================
=======================================================================================*/
html,
body{
  height: 100%;
  width: 100%;
  margin: 0;
}

.inner-container{
  height: 100%;
  width: 100%;
  background-color: #364156;
}

.overall-wrapper{
  display: grid;
  grid-template:"a a a b"
                "a a a b";
  grid-gap: 0px 30px;
}

.content-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: auto;
  grid-area: a;
  grid-gap: 10px 0px;
}

.deleteForm{
  grid-area: b;
  background-color:white;
  padding: 10px;
  margin: 0 auto;
  width: 90%;
  border-radius: 10px;
  height: 45%;
}

.header-service{
  text-align: center;
  font-family: Ubuntu-Bold;
  color:white;
  padding-top: 30px;
}


/*==============================Service Block Styling==================================
=======================================================================================*/

.content-wrapper>div{
    background-color:#839D9A;
    font-family: Quicksand;
    font-weight: 400;
    padding: 10px;
    border-radius: 10px;
    margin: 0px auto;
    width: 95%;
    color: white;
    transition: 1s;
    text-align: center;
}

.content-wrapper>div:nth-child(odd){
    background-color: #4B7F52;
    font-family: Quicksand;
    font-weight: 400;
    padding: 10px;
    border-radius: 10px;
    width: 95%;
    color: white;
    transition: 1s;
}

.content-wrapper>div:hover{
  background-color: white;
  transition: 1s;
  color:#4B7F52;
}

.service-block p{
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

/*==============================Service Block Styling==================================
=======================================================================================*/
.input{
  margin: 0 auto;
  width: 80%;
}

input #id{
  width: 100%;
}

input.form-control::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  font-family: Ubuntu-Regular;
  background-color: inherit;
}

input.form-control{
  background-color:#e8e6e4;
  border:none;
  text-decoration: none;
  height: 50px;
}

input.form-control:focus{
    box-shadow: 0 0 5px #3584eb;
    border: 1px solid #3584eb;
    background-color:#e8e6e4;
}

.btn-delete-service{
  width: 80%;
  margin: 10px auto;
  height: 60px;
  background-color: #829acc;
  border-radius: 5px;
  border-style: none;
  font-family: Ubuntu-Regular;
  font-size: 15px;
  transition: 1s;
  color:white;
}

.btn-delete-service:hover{
  background-color: #364156;
  transition: 1s;
}
